@font-face {
   font-family: 'Kozuka Gothic Pro H';
   src: url('Kozuka Gothic Pro H/font.ttf');
}
@font-face {
   font-family: 'Kozuka Gothic Pro M';
   src: url('Kozuka Gothic Pro M/font.ttf');
}
@font-face {
   font-family: 'Kozuka Gothic Pro L';
   src: url('Kozuka Gothic Pro L/font.ttf');
}
@font-face {
   font-family: 'Kozuka Gothic Std L';
   src: url('Kozuka Gothic Std L/font.ttf');
}
