@font-face {
   font-family: 'Kozuka Gothic Std L';
   src: url("//db.onlinewebfonts.com/t/47490efbbf702b2ddf45a112b37e56ff.eot");
    src: url("//db.onlinewebfonts.com/t/47490efbbf702b2ddf45a112b37e56ff.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/47490efbbf702b2ddf45a112b37e56ff.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/47490efbbf702b2ddf45a112b37e56ff.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/47490efbbf702b2ddf45a112b37e56ff.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/47490efbbf702b2ddf45a112b37e56ff.svg#Kozuka Gothic Std") format("svg");
}
