@font-face {
   font-family: 'Kozuka Gothic Pro L';
   src: url("//db.onlinewebfonts.com/t/ec8e79b907b1bf66ae11c2cfcf491e5d.eot");
    src: url("//db.onlinewebfonts.com/t/ec8e79b907b1bf66ae11c2cfcf491e5d.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ec8e79b907b1bf66ae11c2cfcf491e5d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ec8e79b907b1bf66ae11c2cfcf491e5d.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ec8e79b907b1bf66ae11c2cfcf491e5d.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ec8e79b907b1bf66ae11c2cfcf491e5d.svg#Kozuka Gothic Pro L") format("svg");
}
